html, body {
	width: 100px;
}

.hidden {
	display: none;
}

.button {
	margin: 3% auto;
	padding: 4px;
	text-align: center;
	font-size: 1.5em;
	cursor: pointer;
}

.beast:hover {
	background-color: #CFF2F2;
}

/*.beast {
	background-color: #E5F2F2;
}*/

#collect {
	background-color: #B7E9F7;
}

#search {
	background-color: #BCF5BC;
}

#export {
	background-color: #FDFD96;
}

#reset {
	background-color: #FF9A98;
}

.reset:hover {
	background-color: #EAEA9D;
}
